.userList {
    margin-top: 20px;
}

.user {
    display: inline-flex;
    margin: 0px 20px 20px 0px;
    background-color: #eeeeee;
    cursor: pointer;
}

.user img {
    width: 30px;
    height: 30px;
    align-self: center;
    border-radius: 20px;
}

.userDisplayImage {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.user .username {
    padding: 0px 12px;
    align-self: center;
}